@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
 --green: #99b898;
 --light-skin: #FECEA8;
 --blue: #4C82DE;
 --light-blue: #A4D0F7;
 --pink: #ff847C;
 --red: #E84A5F;
 --dark: #2A3638;
 --shadow: rgba(42, 54, 56, 0.1);
 --grey: rgba(255, 255, 255, 0.8);
}

* {
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     color: white;
     text-decoration: none;
}

.main {
     background: linear-gradient(var(--pink), var(--red));
     height: 90vh;
}

.navbar {
     display: flex;
     justify-content: space-evenly;
     padding: 10px;
     font-size: 20px;
}

.navfront a {
     margin-top: 8px;
     display: flex;
     font-weight: 700;
}

.navfront i {
     
     margin-top: 4px;
     margin-right: 5px;
}

.navback {
     display: flex;
}

.navback ul {
     display: flex;
     font-size: 15px;
     margin-top: 4px;
}

.navback li {
margin-top: 8px;
    list-style-type: none;
    margin-left: 30px;
}

.custom-shape-divider-bottom-1630334655 {
     position: absolute;
     bottom: 10%;
     left: 0;
     width: 100%;
     overflow: hidden;
     line-height: 0;
     transform: rotate(180deg);
 }
 
 .custom-shape-divider-bottom-1630334655 svg {
     position: relative;
     display: block;
     width: calc(100% + 1.3px);
     height: 95px;
 }
 
 .custom-shape-divider-bottom-1630334655 .shape-fill {
     fill: #FFFFFF;
}

.disable {
     display: none;
     pointer-events: none;
}

.show-block {
     display: block;
}

.user-dropdown {
     display: flex;
     flex-direction: column;
}


.user-img img {
     height: 40px;
     border-radius: 50%;
     margin-left: 45px;
}


.user-img ul {
     display: flex;
     font-size: 15px;
     margin-top: 4px;
}

.user-img li {
     margin-top: 8px;
    list-style-type: none;
    margin-left: 30px;
}

.dropdown-content {
     z-index: 2;
     position: absolute;
     margin-top: 50px;
}

.dropdown-content ul {
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: white;
     list-style-type: none;
     font-size: 15px;
     border-radius: 5px;
     font-weight: 500;
}


.hidden-drop {
     display: none;
}

.dropdown-content li {
     background-color: white;
     padding: 10px;
     border-top: 1px solid var(--shadow);
     transition: background-color 0.2s linear;
}

.dropdown-content li:nth-child(1), .dropdown-content li:nth-child(3) {
     border-radius: 5px;
}

.dropdown-content li:hover {
     background-color: var(--shadow);
}
.dropdown-content a {
     color: var(--dark);
}

.logout {
     color: var(--red) !important;
}





.user-box {
     border-radius: 20px;
     background-color: white;
     padding:  5px 10px 5px 10px;
}

.user-box p {
     font-weight: 500;
     color: var(--dark) !important;
}

.content {
     display: flex;
     justify-content: center;
     margin-top: 70px;
}

.ctx-img {
margin-right: 100px;
}

.ctx-img img {
     max-height: 300px;
}

.ctx-text {
     text-align: center;
     margin-top: 70px;
}

.ctx-text h1, .ctx-text span {
     font-size: 60px;
}

.enchance {
     border-bottom: 2px solid white;
}

.ctx-text p {
     max-width: 460px;
     text-align: center;
     color: var(--grey);
     margin-top: 5px;
}

.lower-half {
     display: flex;
     flex-direction: column;
     text-align: center;
     margin-top: 90px;
     height: 70vh;
     align-items: center;
}

.cards {
     margin-top: 100px;
     display: flex;
     flex-wrap: wrap;
     max-width: 1500px;
     margin-left: auto;
     margin-right: auto;
}

.enchance-dark {
     border-bottom: 2px solid var(--dark);
}

.lower-half * {
     color: var(--dark);
}

.card {
     margin-right: 30px;
     padding: 20px;
     width: 250px;
     background-color: white;
     height: 225px;
     box-shadow: 0 10px 15px var(--shadow);
     border-radius: 10px;
     transition: box-shadow 0.5s linear;
}

.card:hover {
     box-shadow: 0 20px 15px var(--shadow);
}

.card-img img {
     height: 85px;
}

.card-title h1 {
     font-size: 20px;
     font-size: 400;
}

.card-desc a {
     color: var(--blue);
     transition: color 0.2s linear;
}


.card-desc a:hover {
     color: var(--light-blue);
}
@media screen and (max-width: 400px) {
     .navbar {
          display: flex;
          justify-content: center;
     }

     .hid-on-mobile{
          display: none !important;
     }
}